langchain
langchain-openai
langgraph
pytrends
python-dotenv
streamlit
pydantic
langchain_core
typing_extensions
fastapi
py-spy
pysqlite3-binary
pandas
numpy
cython
requests
lxml
beautifulsoup4
html5lib
coverage
pytest
pytest-cov
black
ruff
isort
pre-commit
pip
setuptools
wheel
psycopg2-binary